.faq-form-container{
    max-width: 600px;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.button-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Responsive */
  
  @media (max-width: 480px) {
    .faq-form-container {
      width: 95%;
      padding: 15px;
    }
  
  
  }